#########################################
#
#
# Title Requirement Triggers
#
#
#########################################

#These MUST be called in a CHARACTER scope to work properly

has_ck2plus_duchy_reqs = {
	# If title is titular
	conditional_tooltip = {
		trigger = { FROM = { is_titular = yes } }
		lower_real_tier_than = DUKE
	}
	# If title is landed
	conditional_tooltip = {
		trigger = { FROM = { is_landed = yes } }
		# Alternate Reqs to go here later
	}
	# Apply regardless
	is_adult = yes
	has_regent = no
	war = no
}

has_ck2plus_kingdom_reqs = {
	# If title is titular
	conditional_tooltip = {
		trigger = { FROM = { is_titular = yes } }
		lower_real_tier_than = KING
	}
	# If title is landed
	conditional_tooltip = {
		trigger = { FROM = { is_landed = yes } }
		# Alternate Reqs to go here later
	}
	# Apply Regardless
	is_title_active = FROM
	is_adult = yes
	has_regent = no
	war = no
	ruled_years = 5
}

has_ck2plus_empire_reqs = {
	# If title is titular
	conditional_tooltip = {
		trigger = { FROM = { is_titular = yes } }
		lower_real_tier_than = EMPEROR
	}
	# If title is landed
	conditional_tooltip = {
		trigger = { FROM = { is_landed = yes } }
		# Alternate Reqs to go here later
	}
	# Apply regardless
	is_title_active = FROM
	is_adult = yes
	has_regent = no
	war = no
	ruled_years = 5
}